* {
    margin: 0;
    font-size: 30px;
    /* font-size: 1.5em; */
    font-family: 'VT323', monospace;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.show {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.show:first-of-type {
    margin-top: 100vh;
}

.show:last-of-type {
    margin-bottom: 50px;
}

#load-num {
    position: fixed;
    top: 0;
    right: 0;
}

#email, #insta {
    display: block;
}
