* {
    margin: 0;
    font-size: 60px;
    font-family: 'VT323', monospace;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#show-wrap {
    perspective: 800px;
}

.show {
    margin-top: 100px;
    margin-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.show:first-of-type {
    margin-top: 100vh;
}

.show:last-of-type {
    margin-bottom: 50px;
}

#load-num {
    position: fixed;
    top: 0;
    right: 0;
}

#email, #insta {
    display: block;
}
